#
# Exclude binaries, temp build files and directories, and any IDE configuration files.
#
*.*~
*.class
*.eml
*.jar
*.iml
*.ipr
*.iws
nb*.xml
.autotools
.build*
.cache*
.classpath
.flattened-pom.xml
.launch
.loadpath
.project
.metadata
.spring*
.scala*
.target
.worksheet
.apt_generated/
.apt_generated_test/
.DS_Store/
.idea/
.recommenders/
.settings/
bin/
generated-sources/
nbproject/
src/generated-sources/
target/
